[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ConnectTimeout=10 -o GSSAPIAuthentication=no -o PreferredAuthentications=publickey -o ControlMaster=no
pipelining = true

[defaults]
forks = 100
inventory = inventory.ini

